.ityped-cursor {
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  animation: blink 1s infinite;
  animation-direction: alternate;
}
.leftSec {
  margin-top: 31px;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 1070px) {
  .projSec {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (max-width: 768px) {
  .projSec {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
